* {
  font-family:'Gorditas', cursive;
}

h1{
  text-align:center;
}

button{
  background-color:aqua;
  width:50vw;
  height:10vh;
  font-size:20px;
}

.button-container{
  display:grid;
  justify-content:center;
  align-content:center;
}